.imfo-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media screen and (max-width: 1000px){
        flex-direction: column;
      }

    .imfo {
        margin: 20px;
        text-align: center;

        .icon-div {
            
            .icon {
                font-size: 2.5rem;
                cursor: pointer;
            }
        }

        p {
            font-size: 0.9rem;
            color: $lighter-blue-shade;
            cursor: pointer;
        }
    }

}