.form-section {
display: flex;
background-color: $sideBar-background-color;
border-radius: 10px;
margin-left: auto;
margin-right: auto;

@media screen and (max-width: 1000px){
  width: 80%;
  margin-top: 60px;
  flex-direction: column;
}

span {
    color: $light-blue-shade;
    font-size: 2rem; 
}

h3 {
    margin-bottom: 14px;
}

button {
    font-size: 1rem;
    padding: 8px;
    width: 100px;
    color: rgba(255, 255, 255, 0.808);
    background-color: $light-blue-shade;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

input , textarea {
    width: 80%;
    background-color: transparent;
    font-size: 1.3rem;
    color: rgba(240, 230, 230, 0.644);
    margin-bottom: 20px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid $light-blue-shade;
    @media screen and (max-width: 1000px){
      width: 88%;
    }
}

.form-div {
    width: 50%;
    padding-left: 3rem;
    padding-top: 2rem;
    @media screen and (max-width: 1000px){
      width: 100%;
      padding-left: 2rem;
    }
}

.img-div{
    width: 50%;
    background-image: url('../../assets/images/laptop.PNG');
    background-position: center;
    background-size: cover;
    border-radius: 10px;

    @media screen and (max-width: 1000px){
      width: 100%;
    }

    .img-inner-div {
        height: 100%;
        background-color: #3500d32c;
        border-radius: 10px;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 40%;

          }

        .loadingspinner {
            --square: 30px;
            --offset: 40px;
        
            --duration: 5s;
            --delay: 0.2s;
            --timing-function: ease-in-out;
        
            --in-duration: 1s;
            --in-delay: 1s;
            --in-timing-function: ease-out;
        
            width: calc( 3 * var(--offset) + var(--square));
            height: calc( 2 * var(--offset) + var(--square));
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 30px;
            position: relative;
          }
        
          .loadingspinner div {
            display: inline-block;
            background: rgba(255, 255, 255, 0.719);
            border: none;
            border-radius: 2px;
            width: var(--square);
            height: var(--square);
            position: absolute;
            padding: 0px;
            margin: 0px;
            font-size: 6pt;
            color: black;
          }
        
          .loadingspinner #square1 {
            left: calc( 0 * var(--offset) );
            top:  calc( 0 * var(--offset) );
            animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square2 {
            left: calc( 0 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                      squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
          }
          
          .loadingspinner #square3 {
            left: calc( 1 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square4 {
            left: calc( 2 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square5 {
            left: calc( 3 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          @keyframes square1 {
            0%      {left: calc( 0 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            8.333%  {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square2 {
            0%      {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            8.333%  {left: calc( 0 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            16.67%  {left: calc( 1 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            25.00%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            83.33%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            91.67%  {left: calc( 1 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            100%    {left: calc( 0 * var(--offset) ); top: calc( 0 * var(--offset) ); }
          }
        
          @keyframes square3 {
            0%,100% {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            16.67%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            25.00%  {left: calc( 1 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            33.33%  {left: calc( 2 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            41.67%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            66.67%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            75.00%  {left: calc( 2 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            83.33%  {left: calc( 1 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            91.67%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square4 {
            0%      {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            33.33%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            41.67%  {left: calc( 2 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            50.00%  {left: calc( 3 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            58.33%  {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square5 {
            0%      {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            50.00%  {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            58.33%  {left: calc( 3 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            66.67%  {left: calc( 2 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            75.00%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes squarefadein {
            0%      {transform: scale(0.75); opacity: 0.0;}
            100%    {transform: scale(1.0); opacity: 1.0;}
          }
    }
}
}