.image-div {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3.5rem;

    @media screen and (max-width: 1000px){
        margin-top: 60px;
        flex-direction: column;
    }

    .img {
        width: 50%;

        @media screen and (max-width: 1000px){
            width: 100%;
        }

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    .about-imfo {
        margin-left: 2rem;
        width: 50%;

        @media screen and (max-width: 1000px){
            width: 100%;
            margin-left: 0rem;
        }

        h4 {
            font-size: 2rem;
            color: white;
        }

        p {
            color: white;
        }

        button {
            font-size: 1rem;
            padding: 8px;
            width: 180px;
            color: rgba(255, 255, 255, 0.808);
            background-color: $light-blue-shade;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        span {
            color: $light-blue-shade;
        }
    }
}