.sideBar {
    height: 100vh;

    .side {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .avatar-div {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        

        img {
            width: 70%;
            border-radius: 100%;
            border: 3px solid $light-blue-shade;
        }
    }

    .sideBar-items {
        width: 100% ;
        .items {
            list-style: none;

            .Icons {
                margin-left: 20%;
                margin-right: 5%;
                margin-bottom: -4px;
            }

            a {
                text-decoration: none;
                font-size: inherit;
                color: inherit;
                display: block;
                padding: .5rem 0;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: .4rem;
                    height: 100%;
                    background-color: rgba(0, 0, 255, 0.267);
                    transform-origin: bottom;
                    transform: scale(0);
                    overflow-x: hidden;
                    transition: transform .6s, .2s width .5s cubic-bezier(1,-0.16,.6,1.35);
                }
                &:hover::before{
                    width: 100%;
                    transform: scale(1);
                }
            }
        }
    }

    .footer {
        border-bottom: 10px;
        p{
            text-align: center;
            padding: 1rem 0;
            font-size: 0.8rem;
        }
    }
}

.active {
    background-color: $light-blue-shade;
}