.sideBar {
    height: 100vh;

    .side {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .avatar-div {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        

        img {
            width: 70%;
            border-radius: 100%;
            border: 3px solid $light-blue-shade;
        }
    }

    .sideBar-items {
        width: 100% ;
        .items {
            list-style: none;

            .Icons {
                margin-left: 20%;
                margin-right: 5%;
                margin-bottom: -4px;
            }

            a {
                text-decoration: none;
                font-size: inherit;
                color: inherit;
                display: block;
                padding: .5rem 0;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: .4rem;
                    height: 100%;
                    background-color: #3401cc5b;
                    transform-origin: bottom;
                    transform: scale(0);
                    overflow-x: hidden;
                    transition: transform .6s, .2s width .5s cubic-bezier(1,-0.16,.6,1.35);
                }
                &:hover::before{
                    width: 100%;
                    transform: scale(1);
                }
            }
        }
    }

    .footer {

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -40px;
          }
        
          .loadingspinner {
            --square: 20px;
            --offset: 25px;
        
            --duration: 5s;
            --delay: 0.2s;
            --timing-function: ease-in-out;
        
            --in-duration: 1s;
            --in-delay: 1s;
            --in-timing-function: ease-out;
        
            width: calc( 3 * var(--offset) + var(--square));
            height: calc( 2 * var(--offset) + var(--square));
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 30px;
            position: relative;
          }
        
          .loadingspinner div {
            display: inline-block;
            background: $lighter-blue-shade;
            border: none;
            border-radius: 2px;
            width: var(--square);
            height: var(--square);
            position: absolute;
            padding: 0px;
            margin: 0px;
            font-size: 6pt;
            color: black;
          }
        
          .loadingspinner #square1 {
            left: calc( 0 * var(--offset) );
            top:  calc( 0 * var(--offset) );
            animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square2 {
            left: calc( 0 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                      squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
          }
          
          .loadingspinner #square3 {
            left: calc( 1 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square4 {
            left: calc( 2 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          .loadingspinner #square5 {
            left: calc( 3 * var(--offset) );
            top:  calc( 1 * var(--offset) );
            animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                       squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
          }
        
          @keyframes square1 {
            0%      {left: calc( 0 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            8.333%  {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square2 {
            0%      {left: calc( 0 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            8.333%  {left: calc( 0 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            16.67%  {left: calc( 1 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            25.00%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            83.33%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            91.67%  {left: calc( 1 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            100%    {left: calc( 0 * var(--offset) ); top: calc( 0 * var(--offset) ); }
          }
        
          @keyframes square3 {
            0%,100% {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            16.67%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            25.00%  {left: calc( 1 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            33.33%  {left: calc( 2 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            41.67%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            66.67%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            75.00%  {left: calc( 2 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            83.33%  {left: calc( 1 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            91.67%  {left: calc( 1 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square4 {
            0%      {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            33.33%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            41.67%  {left: calc( 2 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            50.00%  {left: calc( 3 * var(--offset) ); top: calc( 2 * var(--offset) ); }
            58.33%  {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes square5 {
            0%      {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            50.00%  {left: calc( 3 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            58.33%  {left: calc( 3 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            66.67%  {left: calc( 2 * var(--offset) ); top: calc( 0 * var(--offset) ); }
            75.00%  {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
            100%    {left: calc( 2 * var(--offset) ); top: calc( 1 * var(--offset) ); }
          }
        
          @keyframes squarefadein {
            0%      {transform: scale(0.75); opacity: 0.0;}
            100%    {transform: scale(1.0); opacity: 1.0;}
          }

        p{
            text-align: center;
            padding: 1rem 0;
            font-size: 0.8rem;
        }
    }
}

.active {
    background-color: $light-blue-shade;
}